<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332134512918-n5681np1s8s3tp2tt2lbbuotvbrqiqt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332134512918-n5681np1s8s3tp2tt2lbbuotvbrqiqt0</string>
	<key>API_KEY</key>
	<string>AIzaSyANxA9nH8NmICoKO7I2FUavAmrMHty38eo</string>
	<key>GCM_SENDER_ID</key>
	<string>332134512918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jew.jewtube</string>
	<key>PROJECT_ID</key>
	<string>jewtube-77fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>jewtube-77fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332134512918:ios:d211c9ccf94f73968b7837</string>
</dict>
</plist>